body{
    padding: 0px;
    margin: 0px;
}

*{
    box-sizing: border-box;

}

.container{
  
   background-color: white;
   height: 490px;
   margin: auto;
   width:300px;
   box-shadow: 4px 1px 8px gray;

}
.body{
    /* border: 2px solid purple; */
    display: none;
    top: 100%;
    width: 100%;
    transition: height 2s;
}
.container:hover .body{
    display: block;
  height: 12%;
  box-shadow: 2px 4px 6px gray;

}


.img{
    /* border: 2px solid green; */
    background-image: url("cute.jpg");
    margin: 8px 16px;
    background-size: cover;
    height: 80%;

}

.card-body{
    /* border: 2px solid rgb(0, 4, 255); */
    background-color: white;
    margin-bottom: 10px;
    padding: 8px 12px ;
}

.body{
    /* border: 2px solid purple; */
    height: 12%;
    padding: 10px 20px;
}

code{
    font-family: arial black;
    color: rgb(20, 236, 20);

}