<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout3.css">
</head>
<body>
    <header>
        <div class="nav-list">
            <div class="nav-list">home</div> 
            <div class="nav-list">about</div>
            <div class="nav-list">contact</div>
            <div class="nav-list">coures</div>
            <div class="nav-list">content</div>
            <div class="nav-list">Login</div>
            <div class="nav-list">register</div>
            <div class="nav-list">help</div>
        </div>
       

    </header>


    
        <div class="nav-one">
            home<br>
            about<br>
            contact<br>
            coures<br>
            content<br>
            Login<br>
            register<br>
            help<br>
            home<br>
            home<br>
            home<br>
            home<br>
            home<br>
            home<br>
            home<br>
        </div>
       

        <div class="nav-two">
        <p>
            rat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          
           illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
           um dolor sit amet consectetur adipisicing elit. Non, veritatis accusamus, sapiente tenetur velit molestiae voluptate corrupti illo similique cupiditate perspiciatis sint enim ratione exercitationem nisi. Officiis excepturi in asperiores.
           
        
    </div>
    <div class="nav-three">
        home<br>
        about<br>
        contact<br>
        coures<br>
        content<br>
        Login<br>
        register<br>
        help<br>
        home<br>
        home<br>
        home<br>
        home<br>
        home<br>
        home<br>
        home<br>
    </div>
   

   
 
    <footer>
        
    
            <h4>Back to top</h4>
            <div class="footer-container">
              <div class="command ">
              
                 <h3>Get to Know us</h3>
                 <ul>
                 <li>About Us</li>
                 <li>Careers</li>
                <li> Press Releases</li>
                 <li>Amazon Science</li>
                </ul> 
              </div>

              <div class="command ">
               
                <h3>connect With Us</h3>
                <ul>
                  <li>Facebook</li>
                  <li>Twitter</li>
                  <li>Instagram</li></ul>
                
              </div>

              <div class="command ">
                <h3>Make Money With Us</h3>
                <ul>
                <li>Sell under Amazon Accelerator</li>
                <li>Protect and Build Your Brand</li>
                <li>Amazon Global Selling</li>
                <li>Become an Affillate</li>
                <li>Fulfillment by Amazon</li>
                <li>Advertise Your products</li>
                <li>Amazon Pay on Merachants</li>
                <li>Amazon Pay on Merachants</li>
              </ul>
              </div>

              <div class="command ">
                <h3>Let Us Help You</h3>
                 <ul>
                  <li>COVID-19 and Amazon</li> 
                  <li>Your Account</li>
                  <li>Returns Centre</li>
                  <li>100% Purchase Protection</li>
                 <li>Amazon  App Download</li>
                 <li>Amazon Assistant Download</li>
                 <li>Help</li>
                </ul>
              </div>
           </div>
    </footer>
</body>
</html>