<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout2.css">
</head>
<body>
    <header>
        <div class="nav-list">
            <div class="nav-list">home</div> 
            <div class="nav-list">about</div>
            <div class="nav-list">contact</div>
            <div class="nav-list">coures</div>
            <div class="nav-list">content</div>
            <div class="nav-list">Login</div>
            <div class="nav-list">register</div>
            <div class="nav-list">help</div>
        </div>
       

    </header>

    <main>
    
        <div class="nav">
            home<br>
            about<br>
            contact<br>
            coures<br>
            content<br>
            Login<br>
            register<br>
            help<br>
            home<br>
            home<br>
            home<br>
            home<br>
            home<br>
            home<br>
            home<br>
        </div>
       

        <div>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
            Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
          
        
    </div>
   
    </main>
   
 
    
</body>
</html>