body{
  
}
*{

  box-sizing: border-box;
  margin: 0px;

}

header{
    border: 2px solid purple;
    background-color: rgb(17, 17, 110);
    color: white;
    padding: 20px;

}

.nav-list{

   display: inline;
   padding-right: 10px;


}

.nav{
    border: 2px solid blue;
    height: 595px;
    width: 15%;
    float: left;
    clear: left;
    
 

}
main{
    border: 2px solid  green;
    background-color: rgb(33, 219, 219);
    color: white;
    width: 100%;
   
   
    
}


