<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout1.css">
</head>
<body>
    <header>
    <div>
        home
        about
        contact
        coures
        content
        Login
        register
        help
    </div>
</header>
<main>
   <p>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
       Delectus adipisci mollitia veritatis dolorem excepturi, alias nemo, ut corrupti quaerat consequatur ex!
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Ad laudantium explicabo aperiam facilis illo, ipsum officiis unde.
     
   </p>
</main>

<footer>
    this is footer
</footer>
</body>
</html>